@font-face {
  font-family: 'Advent Pro';
  src: url(https://fonts.google.com/specimen/Advent+Pro);
}
body{
  font-family: 'Advent Pro';
}
.grid-container{
  display: grid;
  grid-template-areas:
  'one one one one'
  'two two two two'
  'three three three three'
  'four four four four'
  'five five five five'
  'six six six six'
  'seven seven seven seven';
}

#one{
  grid-area: one;
  background-image: url(../assets/h_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 80px;
  font-size: 18px ;
}

#two{
  background-color: white;
  grid-area: two;
  text-align: center;
  padding: 60px;
}

#three{
  background-image: url(../assets/s_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: three;
  text-align: center;
  color: white;
  padding: 100px;
}

#four{
  background-color: white;
  grid-area: four;
  text-align: center;
  padding: 60px;
}

#five{
  background-color: white;
  grid-area: five;
  text-align: center;
  margin: 60px;
}

#six{
  background-image: url(../assets/c_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: six;
  color: white;
  text-align: center;
  padding: 60px;
}

#seven{
  background-color: white;
  grid-area: seven;
  text-align: center;
  font-size: 8pt;
  line-height: 0px;
  padding: 20px;
}

#design-hidden, #dev-hidden, #product-hidden{
  display: none;
  text-align: center;  
}

.design, .development, .product{
  float: left;
  cursor: pointer;
  max-width: 33%;
}

.flex{
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

form{
  padding: 10px;
  align-content: center;
}

input, #name, #email, textarea{
  border: 2px solid white;
  margin: 20px;
  padding: 10px;
  background: transparent;
}

::placeholder{
  color: white;
}

.socials{
  padding: 20px;
}

.row{
  display: flex;
  padding: 30px;
}

.column{
  position: relative;
  float: left;
  width: 25%;
  padding: 10px;
}

#project-one, #project-two, #project-three, #project-four, #project-five, #project-six, #project-seven, #project-eight{
  display: none;
  background-color:white ;
  opacity: 60%;
  position: absolute;
  bottom: 120px;
  left: 120px;
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  .column{
    width: 50%;
    padding: 10px;
  }
  textarea{
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .column{
    width: 100%;
  }
}