@font-face {
  font-family: 'Source Code Pro';
  src: url(https://fonts.google.com/specimen/Source+Code+Pro?query=source+code+pro);
}
.grid-container{
  display: grid;
  grid-template-areas:
  'one one one one'
  'two two two two'
  'three three three three'
  'four four four four'
  'five five five five'
  'six six six six'
  'seven seven seven seven'
  'eight eight eight eight';
}

#one{
  grid-area: one;
  background-image: url(../assets/h_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#two{
  background-color: white;
  grid-area: two;
  text-align: center;
}

#three{
  background-image: url(../assets/s_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: three;
  text-align: center;
  color: white;
}

#four{
  background-color: white;
  grid-area: four;
  text-align: center;
  padding: 60px;
}

#five{
  background-color: white;
  grid-area: five;
  text-align: center;
  margin: 60px;
}

#six{
  background-image: url(../assets/c_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: six;
  color: white;
  text-align: center;
}

#seven{
  background-color: white;
  grid-area: seven;
  text-align: center;
  font-size: 8pt;
  line-height: 0px;
}

#design-hidden, #dev-hidden, #product-hidden{
  display: none;
  text-align: center;
}

.design, .development, .product{
  float: left;
  cursor: pointer;
}

.flex{
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
.portfolio{
  display: flex;
  justify-content: space-between;
  padding: 60px;
  max-width: 100%;
}
form{
  opacity: 20%;
}
.socials{
  padding: 20px;
}
#box-one, #box-two, #box-three, #box-four, #box-five, #box-six, #box-seven, #box-eight{
  position: relative;
}
#project-one, #project-two, #project-three, #project-four, #project-five, #project-six, #project-seven, #project-eight{
  display: none;
  background-color:white ;
  opacity: 60%;
  position: absolute;
  bottom: 120px;
  left: 120px;
  padding: 20px;
}